<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="rendered-form">
    <div class="">
        <h1 access="false" id="control-3650140">Create a blog now</h1></div>
    <div class="formbuilder-text form-group field-text-1649227849221">
        <label for="text-1649227849221" class="formbuilder-text-label">Title</label>
        <input type="text" class="form-control" name="text-1649227849221" access="false" id="text-1649227849221">
    </div>
    <div class="formbuilder-text form-group field-text-1649227797435">
        <label for="text-1649227797435" class="formbuilder-text-label">Author name</label>
        <input type="text" class="form-control" name="text-1649227797435" access="false" id="text-1649227797435">
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1649227813896">
        <label for="textarea-1649227813896" class="formbuilder-textarea-label">Content</label>
        <textarea type="textarea" class="form-control" name="textarea-1649227813896" access="false" id="textarea-1649227813896"></textarea>
    </div>
  </div>

</body>
</html>
