<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    {%for item in items%}
        <div id="{{item.id}}">
            <div>Title {{item.title}}</div>
            <div>Author {{item.author}}</div>
            <div>Created on {{item.creationDate}}</div>
            <div>Last Updated on {{item.lastUpdatedDate}}</div>
            <button id="post">View post completely</button>
        </div>
    {%endfor%}
</body>

<script>
    $("#post").click(function(event){
        alert(event.target.parentElement.id);
    })
</script>