<!DOCTYPE html>
<html>
	<head>
		<title>Unsuccessful....</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			h1 {
				font-family: Arial, sans-serif;
				color: #f9b6ae;
				text-align: default;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home">Home</a>
			  <a class="navbar-brand" href="/readBlogs">Read More</a>
			  <a class="navbar-brand" href="/createBlog">Create Blog</a>
			</div>
		</nav>

		<h1>Unsuccessful....</h1>
	</body>
</html>