<!DOCTYPE html>
<html>

<head>
  <title>Welcome Page</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="/home">Home</a>
        <a class="navbar-brand" href="/readBlogs">Read More</a>
        <a class="navbar-brand" href="/createBlog">Create Blog</a>
      </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is a simple blogging application</p>
    <hr class="my-4">
    <p>You can create or edit a blog and publish it!</p>
  </div>

  {%for item in items%}
      <div class="card text-center">
        <div class="card-header">
          {{item.author}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <a href="#" id="del" class="btn btn-primary">Delete</a>
          <a href="#" id="edit" class="btn btn-primary">Edit</a>
        </div>
        <div class="card-footer text-muted">
          {{item.creationDate}}
        </div>
      </div>
      {%endfor%}

</body>
<script>
  $("#del").click(function(event){
        alert(event.target.parentElement.id);
        //bid->blog id
        var bid = event.target.parentElement.id;
        window.location = "{{url_for('deleteBlog')}}"+`?blogid=${bid}`;
    })

  $("#edit").click(function(event){
      var blogid = event.target.parentElement.id;
      alert(blogid)
      window.location = "{{url_for('readOne')}}"+`?blogid=${blogid}`;
  })
</script>

</html>