<!DOCTYPE html>   
<html>   
<head>  
<meta charset="utf-8" />
<title> Login </title>    
</head>    
<body>    
    <center> <h1> Login </h1> </center>   
    <form action="/login" method="post">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Username" name="username" required>

            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  

            <button type="submit">login</button>    
        </div>   
    </form>     
</body>     
</html>  