<!DOCTYPE html>   
<html>   
<head>  
<meta charset="utf-8" />
<title> Login </title>    
</head>    
<body>    
    <center> <h1> Login </h1> </center>  
    {%for token in result.item()%} 
    <script type="text/javascript">
        localStorage.setItem("token","{{token}}")
    </script>
    {% with message = get_flashed_messages()[-1]%}
        <p>{{message}}</p>
    {%endwith%}
    <form action="/login" method="post">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Username" name="username" required>

            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  

            <button type="submit">login</button>    
        </div>   
    </form>     
</body>     
</html>  